#outer{
    width:auto;
    margin:0 auto;
}
#inner{
    overflow:hidden;
}

/* Header Styling */
#header{
    min-height:40px;
}

.issue{
    background-color: black;
    color: white;
    margin: 0 auto;
    padding: 15px;
    font-size: 25px;
    
}

/* Main Styling */
input, label{
    display: block;
    margin:10px;
}
label{
    padding-top: 5px;
    padding-bottom: 3px;
}
input{
    width: 45%;
    height: 25px;
    border-radius: 5px;
    background-color: #DCDCDC;
    margin-bottom: 10px;
    border:none;
    }

select{
    width: 45%;
    height: 25px;
    border-radius: 5px;
    background-color: #DCDCDC;
    border:none;
    margin:10px;
}

 .btn{
    background-color: blue;
    color: white;
    border-radius: 5px;
    width: 9%;
    padding: 10px;
    margin:10px;
    margin-bottom: 10px;
    border: none;
}
#content{
    width:1000px;
    min-height:715px;
    float:left;
    padding-left: 20px;
}
h1{
    padding: 10px;
}
h2{
    float:left;
    margin:0;
    padding-right: 10px;
}
.btN{
    float:left;
    margin:0;
    color: black;
    border-radius: 5px;
    width: 9%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    margin-right:100px;
    background-color:white;
}
.btN:hover{
    background-color:blue;
    color:white;
}

 /* Sidebar Styling */
#sidebar{
    width:200px;
    min-height:715px;
    float:left;
    background:#ddd;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    
}
li{
    list-style-type: none;
    display:block;
    padding: 8px 16px;
}
a{
    text-decoration: none;
}